#the_header{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	color: #fffaf3;
	font-weight: bold;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/lohp_streams_header_bg_v4.png);
}
#sidebar{
	position: fixed;
	top: 55px;
	left: 0%;
	width:200px; 
	float:left; 
	height:100%; 
	text-align:center; 
	line-height:50px; 
	font-size:15px; 
	color:#ffffff; 
	font-weight:bold; 
	background: grey;
	//background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/lohp_streams_header_bg_v4.png); 
}
#content{
	position: relative;
    left: 250px;
    top: 70px;
	z-index:0;
	min-width: 1000px; 
	height: auto;
	text-align:left; 
	line-height:30px; 
	font-size:15px; 
	margin-left:20px; 
	font-weight:bold;  
	float:left;
}
#list{
	height: 900px;
	overflow: scroll;
}
#footer{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	color: #fffaf3;
	font-weight: bold;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/lohp_streams_header_bg_v4.png);
	border-radius: 10px;
}
.abutton{
	width: auto; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
	background:white;
	//background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/500xGray.png);
	//background-repeat: repeat;
	//background-position: 50% 50%;
	//background-size: 100%;
}
#m1{
	width: 100%; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
}
.mem_button{
	margin-bottom: 10px; 
	width: 100%; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
}

#slist{
	height: 120px;
}
img{
	border-radius:2px;
	width:expression(this.width>600?:this.width);
	overflow: hidden;
	height: 120px
}
.star{
	display: inline;
}

.sidebar{ 
	font-size: 120%;
	display:block;
	border-right:hidden;
	border-left:hidden;
	border-top: hidden;
	border-bottom: 2px solid white;
    //border-radius: 5px;
	background:grey;
	//background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/lohp_streams_header_bg_v4.png);
	//margin-bottom: 5px; 
	//margin-top: 5px; 
	text-decoration: none;
	color: #FFFFFF;
	height: 50px;
    width: 100%;
}

/*  滑入時變換底色樣式 */  
.sidebar_over{
	color: #9ad3de;
	background:#FFFFFF;
} 
/*table*/
.bordered {
	
    //border: solid #ccc 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    //-webkit-box-shadow: 0 1px 1px #ccc; 
    //-moz-box-shadow: 0 1px 1px #ccc; 
    //box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #9ad3de;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    //border-left: 1px solid #ccc;
    //border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #89bdd3;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.member_option {
	width: 200px;
    height: 40px;
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    background: #c9c9c9;
}
.member_option:hover {
	background: white;
	color: #89bdd3;
}
input[type=text], select {
width: 90%;
padding: 5px 5px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=password], select {
width: 90%;
padding: 5px 5px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#edit_button{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}
#verify_button{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}
#s1{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 1;
	height: 55px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
	background:#89bdd3;
    overflow: hidden;
	//background-repeat: repeat;
	//background-position: 50% 50%;
	//background-size: 100%;
	//background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/images/lohp_streams_header_bg_v4.png);
}

.menu_bar {
    float: left;
	max-width: 300px;
}

.menu_bar_search {
	float: left;
	min-width: 400px;
	padding-top:14px; 
	padding-bottom: 14px;
	padding-right: 16px;
	padding-left: 16px;
}
.menu_bar  a{
	display: block;
    color: white;
    text-align: center;
    padding: 18px 36px;
    text-decoration: none;
}

.choose_menu{
	color: #5599FF;
	background:#FFFFFF;
}
#store_img,#company_img{
	position: relative;
	width: 300px;
	height: 300px;
}
#store_map{
	width: 330px;
    height: 300px;
    display: inline-block;
    left: 310px;
    top: 60px;
	position: absolute;
	overflow: hidden;
	background-color: rgb(229, 227, 223);
}
body{
	background: #e3e3e3;
	overflow-x:hidden;
}
/* Let's get this party started width: 12px;*/
::-webkit-scrollbar {
	display: none;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E0E0E0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.close_left{
	position: fixed; top: 70px; left: 210px;
	background: #e3e3e3;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #c9c9c9 transparent transparent;
}
.close_right{
	position: fixed; top: 70px; left: 10px;
	background: #e3e3e3;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #c9c9c9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown-content1 {
    display: block;
}