#the_header{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	color: #fffaf3;
	font-weight: bold;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/lohp_streams_header_bg_v4.png);
}
#sidebar{
	border-radius: 10px; 
	width:20%; 
	float:left; 
	height:1080px; 
	text-align:center; 
	line-height:50px; 
	font-size:15px; 
	color:#ffffff; 
	font-weight:bold; 
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/lohp_streams_header_bg_v4.png); 
}
#content{
	width:75%; 
	height:860px; 
	text-align:left; 
	line-height:30px; 
	font-size:15px; 
	margin-left:20px; 
	font-weight:bold;  
	float:left;
}
#list{
	height: 900px;
	overflow: scroll;
}
#footer{
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	color: #fffaf3;
	font-weight: bold;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/lohp_streams_header_bg_v4.png);
	border-radius: 10px;
}
.abutton{
	width: 100%; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/500xGray.png);
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
}
#m1{
	width: 100%; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
}
.mem_button{
	margin-bottom: 10px; 
	width: 100%; 
	border: 1px solid #ccc; 
	border-radius:4px; 
	padding:5px;
}

#slist{
	height: 120px;
}
img{
	border-radius:10px;
	width:expression(this.width>600?:this.width);
	overflow: hidden;
	height: 120px
}
.star{
	display: inline;
}

.sidebar{ 
	display:block; 
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/lohp_streams_header_bg_v4.png);
	margin-bottom: 5px; 
	margin-top: 5px; 
	text-decoration: none;
	color: #FFFFFF;
	height: 50px;
	border: hidden;
    width: 100%;
}

/*  滑入時變換底色樣式 */  
.sidebar_over{
	color: #5599FF;
	background:#FFFFFF;
} 

.bordered {
	
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

input[type=text], select {
width: 90%;
padding: 5px 5px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=password], select {
width: 90%;
padding: 5px 5px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#edit_button{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}
#verify_button{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}
#s1{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100%;
	background-image:url(http://people.cs.nctu.edu.tw/~cwchen05030530/lohp_streams_header_bg_v4.png);
	border-radius: 10px;
}

.menu_bar {
    float: left;
}

.menu_bar #dropdown {
    display: inline-block;
}
.menu_bar  a, #dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
