html{
background: url( "bg.jpg" ) no-repeat; filter: alpha( opacity=30 );
background-attachment: fixed;
background-size: cover;
text-align:center;
}
p {
font-size:20px;
font-weight:bold;
text-align:center;
}
form {
  margin-bottom: 3px;
}
#Header{
width:100%;
text-align:center;
font-size:30px;
color:#000000;
font-weight:bold;
}
.body1{
width:50%;
height:200px;
text-align:center;
vertical-align:top;
line-height:1px;
font-size:30px;
color:#000000;
font-weight:bold;
float:left;
}
#username{
width:200px;
height:40px;
font-size:20px;
}
#password{
width:200px;
height:40px;
font-size:20px;
}
.body2{
width:50%;
height:200px;
text-align:center;
vertical-align:top;
line-height:1px;
font-size:30px;
color:#000000;
font-weight:bold;
float:left;
}
.jobseeker{
text-align:center;
font-size:50px;
font-weight:bold;
color:#000000;
}
.jobseeker table{
position:relative;
font-size:20px;
width:100%;
border-collapse: collapse;
table-layout:auto;
text-align:center;
z-index:0;
}
.jobseeker col:nth-child(2n) {
background: #ffffbf;
}
.jobseeker col:nth-child(2n+1) {
background: #bbffaa;
}
.jobseeker th{
background: #eeaaff;
}
.jobseeker tr{
border:1px solid;
height:49px;
border-color:#2a0000;
}
.jobnew table{
font-size:20px;
border-collapse: collapse;
width:100%;
table-layout:auto;
text-align:center;
}
#button1{
text-align:center;
display:inline-block;
}
#button2{
text-align:center;
display:inline-block;
}
#favorite{
display:inline-block;
height:50px;
width:50px;
}
#inline{
display:inline;
}
#block{
width:200px;
height:40px;
font-size:20px;
vertical-align:text-top;
}
#waiting{
text-align:center;
width:96px;
-webkit-margin-before:0;
-webkit-margin-after:0;
height:41px;
display:inline-block;
font-weight:normal;
}
.application table{
font-size:20px;
width:100%;
border-collapse: collapse;
table-layout:auto;
text-align:center;
}
.application th{
background: #2a0024;
color: #55c6ff;
}
.application td{
background:#bffffa;
}
.application tr{
border:1px solid;
height:49px;
border-color:#2a0000;
}
.register{
text-align:center;
}
body > p"{
font-size:50px;
font-weight:bold;
}
.star{
color:red;
font-style:italic;
display:inline;
}
.valid{
color:red;
font-style:italic;
}
.flip{
font-weight: normal;
margin:0;
display:normal;
height:49px;
}
.flip h4{
display:inline;
font-weight: normal;
}
.tored{
position:relative;
height:initial;
background:#aaff77;
z-index:1;
}
